@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* globals.css */
 html{
     scroll-behavior: smooth;
 }
body {
        font-family: "Montserrat", sans-serif;
         font-weight: normal;
         font-style: normal;
}

.dark input:-webkit-autofill {
    /* -webkit-box-shadow: 0 0 0 1000px #1a202c inset !important; */
    -webkit-text-fill-color: #000000 !important; /* Light text */
  }
  
  .light input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important; /* Light background */
    -webkit-text-fill-color: #000000 !important; /* Dark text */
  }